.main_form{
    display: block;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "section section section";
    grid-template-rows: none;
}
header{grid-area: head;
    background-color: #013d69; /**/
}
aside{grid-area: aside;
    background: #013d69;
}
section{grid-area: section;
    background-color: #013d69;
}
.estilo_jyk{
    background-color: #013d69;
    overflow: hidden;
    align-items: center;
}
.animacion_nombre{
    font-family: 'Arial', sans-serif;
    font-size: 80px;/*Tamaño*/
    font-weight: bold;
    color: #fffdf9; /* Color letra  */
    text-align: center;
    text-shadow: 10px 10px 10px #f0f8ff; /* Sombra negra */
    margin-top: 50px;
    line-height: 1;
    letter-spacing: 4;
    font-style: italic;
}
.modulo_sp {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fffdf9; /* Color letra  */
    text-align: center;
    /*text-shadow: 10px 10px 10px #f0f8ff; /* Sombra negra */
    margin-left: auto;
    padding:10px 10px 30px 10px;/*Separacion "modulo sdp" con codigo de producto*/
    line-height: 1;
    letter-spacing: 4;
    font-style: italic;
}
body {
    background-color: #013d69;
}