header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.barra_admin {
    background-color: rgb(98, 238, 129);
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /*Alineacion*/
    align-items: center;
    padding: 15px 15px 15px 15px;/*tamaño de la caja del resalto de inicio a reporte*/
}
.barra_admin a{
    display: block;
    color: #100101; /*Color de la letra del Inicio a reporte de login*/
    text-align: center;
    padding: 30px 30px; /*Espacio entre etiquetas de inicio a ....reportes*/
    text-decoration: double;
}
.barra_admin a:hover {
    background-color: #e11044;
    color: white;
}
.barra_admin a.menu_activec:hover {
    background-color: #e01d61;/*clolor al pasar cursor por inicio a reportes*/
    color: white; /*clolor de la letra al pasar cursor por inicio a reportes*/
}
.barra_admin .menu_admin, .barra_admin .menu_login {
    display: flex;
    justify-content:center ;
    align-items: center;
}
.login_out button {
    padding: 18px 18px;/*Alto y ancho de caja de login out*/
    margin: 10px 0; /*Altura de caja contenedora de nav*/
    margin-right: 300px;/*Separacion button login del button reportes*/
    background-color: #df811c; /*Color button de login*/
    color: white; /*Color de la letra del button de login*/
    border: none;
    cursor: pointer;
}
.login_out button:hover {
    background-color: #ceef14;/*Color button al pasar cursor en login*/
    color: rgb(33, 31, 171); /*Color de letra del button al pasar cursor en login*/
}
/*.login_out{
    
    
}*/
.form_select{
    background-color: #ceef14;
    
}