.main_form{
    display: block;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "section section section";
    grid-template-rows: auto;
}
header{grid-area: head;
    background-color: #013d69;
}
nav{grid-area: nav;
    background: #013d69;
}
section{grid-area: section;
    background-color: #013d69;
}
.estilo_jyk{
    background-color: #013d69;
    overflow: hidden;
    align-items: center;
}
.animacion_nombre{
    font-family: 'Arial', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #fffdf9; /* Color letra  */
    text-align: center;
    text-shadow: 10px 10px 10px #f0f8ff; /* Color Sombra */
    margin-top: 50px;
    line-height: 1;
    letter-spacing: 4;
    font-style: italic;
}
