.main_form{
    display: block;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "section section section";
    grid-template-rows: auto;
}
header{grid-area: head;
    background-color: #b6bcc0;
}
nav{grid-area: nav;
    background: #013d69;
}
section{grid-area: section;
    background-color: #013d69;
}