header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
img{
    padding: 1px 1px 1px 1px; /*Alineacion imaguen del logo*/
}
.navbar {
    background-color: rgb(6, 39, 13);
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /*Alineacion*/
    align-items: center;
    padding: 0 1px;
}
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px; /*Espacio entre etiquetas de inicio de servicios ....Ubicacion*/
    text-decoration: double;
}
.navbar a:hover {
    background-color:#cb1222; /*color igual 3333 */
    color: white;
}
.navbar a.active:hover {
    background-color: #158d79;
    color: white;
}
.navbar .left, .navbar .right {
    display: flex;
    justify-content:center ;
    align-items: center;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-container input[type=text] {
    padding: 6px;
    margin: 10px 10px;/*Espacio entre etiquetas de ubicacion barra buscar */
    margin-right: 10px;
    font-size: 17px;
    border: none;
    background: #f1f1f1;
}
.search-container button {
    padding: 10px 16px;
    margin: 8px 0;
    margin-right: 220px;/*Separacion button login del button buscar*/
    background-color: #df811c;
    color: white;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #3f0fc3;
    color: white;
}
.login-container {
    display: flex;
    align-items: center;
}
.login-container button {

    padding: 10px 16px;
    margin: 8px 0;
    margin-right: 10px;
    background-color: #4507aa;/*color de resalto*/
    color: white; /*color de letra del button*/
    border: none;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #cb1222;/*color al pasar el puntero 3333*/
    color: white;

}

.estilo_jyk{
    background-color: #013d69;
    overflow: hidden;
    align-items: center;
}
.animacion_nombre{
    font-family: 'Arial', sans-serif;
    font-size: 80px; /* Tamaño letra*/
    font-weight: bold;
    color: #fffdf9; /* Color letra  */
    text-align: center;
    text-shadow: 10px 10px 10px #f0f8ff; /* Color Sombra */
    margin-top: 50px;
    line-height: 1;
    letter-spacing: 4;
    font-style: italic; 
}

@media (min-width: 1200px) {
    .animacion_nombre {
        font-size: 3vw; /* Tamaño de fuente ajustado para pantallas grandes */
        margin-top: 4vw; /* Ajusta el margen superior para pantallas grandes */
        letter-spacing: 0.15em; /* Ajusta el espaciado entre letras para pantallas grandes */
    }
}

/* Media query para pantallas medianas */
@media (max-width: 992px) {
    .animacion_nombre {
        font-size: 4vw; /* Tamaño de fuente ajustado para pantallas medianas */
        margin-top: 6vw; /* Ajusta el margen superior para pantallas medianas */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .animacion_nombre {
        font-size: 6vw; /* Tamaño de fuente ajustado para pantallas pequeñas */
        margin-top: 8vw; /* Ajusta el margen superior para pantallas pequeñas */
    }
}

/* Media query para dispositivos muy pequeños (teléfonos móviles) */
@media (max-width: 480px) {
    .animacion_nombre {
        font-size: 8vw; /* Tamaño de fuente ajustado para dispositivos muy pequeños */
        margin-top: 10vw; /* Ajusta el margen superior para dispositivos muy pequeños */
    }
}
